* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: gray;
}

.container {
  padding: 300px 727px;
}

a {
  width: 150px;
  height: 100px;
  font-size: 100px;
  background-color: palevioletred;
  color: white;
  padding: 10px;
  border-radius: 7px;
  font-family: helvetica;
  -webkit-transition: background-color 0.5s, color 0.5s linear, border-radius 2s ease-out;
  transition: background-color 0.5s, color 0.5s linear, border-radius 2s ease-out;
}

a:hover {
  background-color: #35ec5c;
  color: black;
  border-radius: 30px;
}
